In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("./Data/telecom_customer_churn.csv")

In [3]:
df

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Credit Card,65.60,593.30,0.00,0,381.51,974.81,Stayed,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,Credit Card,-4.00,542.40,38.33,10,96.21,610.28,Stayed,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,Bank Withdrawal,73.90,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,Bank Withdrawal,98.00,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Credit Card,83.90,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,20,No,0,La Mesa,91941,32.759327,-116.997260,0,...,Credit Card,55.15,742.90,0.00,0,606.84,1349.74,Stayed,NaN,NaN
7039,9992-RRAMN,Male,40,Yes,0,Riverbank,95367,37.734971,-120.954271,1,...,Bank Withdrawal,85.10,1873.70,0.00,0,356.40,2230.10,Churned,Dissatisfaction,Product dissatisfaction
7040,9992-UJOEL,Male,22,No,0,Elk,95432,39.108252,-123.645121,0,...,Credit Card,50.30,92.75,0.00,0,37.24,129.99,Joined,NaN,NaN
7041,9993-LHIEB,Male,21,Yes,0,Solana Beach,92075,33.001813,-117.263628,5,...,Credit Card,67.85,4627.65,0.00,0,142.04,4769.69,Stayed,NaN,NaN
7042,9995-HOTOH,Male,36,Yes,0,Sierra City,96125,39.600599,-120.636358,1,...,Bank Withdrawal,59.00,3707.60,0.00,0,0.00,3707.60,Stayed,NaN,NaN

In [4]:
try:
    dic = pd.read_csv('./Data/telecom_data_dictionary.csv', encoding='latin1')
except UnicodeDecodeError:
    dic = pd.read_csv('./Data/telecom_data_dictionary.csv', encoding='cp1252')
dic

,Table,Field,Description
0,Customer Churn,CustomerID,A unique ID that identifies each customer
1,Customer Churn,Gender,"The customers gender: Male, Female"
2,Customer Churn,Age,"The customers current age, in years, at the t..."
3,Customer Churn,Married,"Indicates if the customer is married: Yes, No"
4,Customer Churn,Number of Dependents,Indicates the number of dependents that live w...
5,Customer Churn,City,The city of the customers primary residence i...
6,Customer Churn,Zip Code,The zip code of the customers primary residence
7,Customer Churn,Latitude,The latitude of the customers primary residence
8,Customer Churn,Longitude,The longitude of the customers primary residence
9,Customer Churn,Number of Referrals,Indicates the number of times the customer has...
10,Customer Churn,Tenure in Months,Indicates the total amount of months that the ...
11,Customer Churn,Offer,Identifies the last marketing offer that the c...
12,Customer Churn,Phone Service,Indicates if the customer subscribes to home p...
13,Customer Churn,Avg Monthly Long Distance Charges,Indicates the customers average long distance...
14,Customer Churn,Multiple Lines,Indicates if the customer subscribes to multip...
15,Customer Churn,Internet Service,Indicates if the customer subscribes to Intern...
16,Customer Churn,Internet Type,Indicates the customer's type of internet conn...
17,Customer Churn,Avg Monthly GB Download,Indicates the customers average download volu...
18,Customer Churn,Online Security,Indicates if the customer subscribes to an add...
19,Customer Churn,Online Backup,Indicates if the customer subscribes to an add...
20,Customer Churn,Device Protection Plan,Indicates if the customer subscribes to an add...
21,Customer Churn,Premium Tech Support,Indicates if the customer subscribes to an add...
22,Customer Churn,Streaming TV,Indicates if the customer uses their Internet ...
23,Customer Churn,Streaming Movies,Indicates if the customer uses their Internet ...
24,Customer Churn,Streaming Music,Indicates if the customer uses their Internet ...
25,Customer Churn,Unlimited Data,Indicates if the customer has paid an addition...
26,Customer Churn,Contract,Indicates the customers current contract type...
27,Customer Churn,Paperless Billing,Indicates if the customer has chosen paperless...
28,Customer Churn,Payment Method,Indicates how the customer pays their bill: Ba...
29,Customer Churn,Monthly Charge,Indicates the customers current total monthly...
30,Customer Churn,Total Charges,"Indicates the customers total charges, calcul..."
31,Customer Churn,Total Refunds,"Indicates the customers total refunds, calcul..."
32,Customer Churn,Total Extra Data Charges,Indicates the customers total charges for ext...
33,Customer Churn,Total Long Distance Charges,Indicates the customers total charges for lon...
34,Customer Churn,Total Revenue,Indicates the company's total revenue from thi...
35,Customer Churn,Customer Status,Indicates the status of the customer at the en...
36,Customer Churn,Churn Category,A high-level category for the customers reaso...
37,Customer Churn,Churn Reason,A customers specific reason for leaving the c...
38,Zip Code Population,Zip Code,The zip code of the customers primary residence
39,Zip Code Population,Population,A current population estimate for the entire Z...

In [5]:
df

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Credit Card,65.60,593.30,0.00,0,381.51,974.81,Stayed,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,Credit Card,-4.00,542.40,38.33,10,96.21,610.28,Stayed,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,Bank Withdrawal,73.90,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,Bank Withdrawal,98.00,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Credit Card,83.90,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,20,No,0,La Mesa,91941,32.759327,-116.997260,0,...,Credit Card,55.15,742.90,0.00,0,606.84,1349.74,Stayed,NaN,NaN
7039,9992-RRAMN,Male,40,Yes,0,Riverbank,95367,37.734971,-120.954271,1,...,Bank Withdrawal,85.10,1873.70,0.00,0,356.40,2230.10,Churned,Dissatisfaction,Product dissatisfaction
7040,9992-UJOEL,Male,22,No,0,Elk,95432,39.108252,-123.645121,0,...,Credit Card,50.30,92.75,0.00,0,37.24,129.99,Joined,NaN,NaN
7041,9993-LHIEB,Male,21,Yes,0,Solana Beach,92075,33.001813,-117.263628,5,...,Credit Card,67.85,4627.65,0.00,0,142.04,4769.69,Stayed,NaN,NaN
7042,9995-HOTOH,Male,36,Yes,0,Sierra City,96125,39.600599,-120.636358,1,...,Bank Withdrawal,59.00,3707.60,0.00,0,0.00,3707.60,Stayed,NaN,NaN

variables a tener en cuenta para el modelo:
X
age, number of dependents(lo excluimos porque tiene 70% ceros),zip code, tenure of months, phone service, internet service, multiple lines, device protection plan, monthly charge,total refunds, total long distance charges,

Y
target: customer status

In [6]:
df.columns

Index(['Customer ID', 'Gender', 'Age', 'Married', 'Number of Dependents',
       'City', 'Zip Code', 'Latitude', 'Longitude', 'Number of Referrals',
       'Tenure in Months', 'Offer', 'Phone Service',
       'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue', 'Customer Status', 'Churn Category', 'Churn Reason'],
      dtype='object')

In [7]:
dfml=df[['Age','Number of Dependents','Zip Code', 'Tenure in Months', 'Phone Service', 'Internet Service', 'Multiple Lines', 'Device Protection Plan', 'Monthly Charge','Total Refunds', 'Total Long Distance Charges','Customer Status']]

In [8]:
df['Customer Status'].unique()

array(['Stayed', 'Churned', 'Joined'], dtype=object)

In [9]:
df['Customer Status'].value_counts()

Customer Status
Stayed     4720
Churned    1869
Joined      454
Name: count, dtype: int64

buscamos abandonos por género

In [10]:
df.loc[(df['Gender']=='Female') & (df['Customer Status']=='Churned')].shape

(939, 38)

In [11]:
df.loc[(df['Gender']=='Male') & (df['Customer Status']=='Churned')].shape

(930, 38)

entonces como los resultados son similares no tomamos la variable 'Gender' para el modelo

In [12]:
matriz_correlacion = dfml.corr()
import seaborn as sns
import matplotlib.pyplot as plt

# Crear un mapa de calor de la matriz de correlación
sns.heatmap(matriz_correlacion, annot=True, cmap='coolwarm')

# Mostrar el mapa de calor
plt.show()

ValueError: could not convert string to float: 'Yes'

Decidimos hacer una regresión logística ya que es clasificación.

extraemos la columna 'Internet Service' porque decidimos analizar los futuros abandonos de los clientes que contratan servicio telefónico

In [13]:
dfmlx=df[['Age','Number of Dependents','Zip Code', 'Tenure in Months', 'Phone Service', 'Multiple Lines', 'Device Protection Plan', 'Monthly Charge','Total Refunds', 'Total Long Distance Charges']]

In [14]:
dfmlx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          7043 non-null   int64
 1   Number of Dependents         7043 non-null   int64
 2   Zip Code                     7043 non-null   int64
 3   Tenure in Months             7043 non-null   int64
 4   Phone Service                7043 non-null   object
 5   Multiple Lines               6361 non-null   object
 6   Device Protection Plan       5517 non-null   object
 7   Monthly Charge               7043 non-null   float64
 8   Total Refunds                7043 non-null   float64
 9   Total Long Distance Charges  7043 non-null   float64
dtypes: float64(3), int64(4), object(3)
memory usage: 550.4+ KB

In [15]:

dfmlx[['Phone Service', 'Multiple Lines','Device Protection Plan']] = dfmlx[['Phone Service', 'Multiple Lines','Device Protection Plan']].replace({'Yes': 1, 'No': 0})

C:\Users\Nahuee\AppData\Local\Temp\ipykernel_10188\1242797384.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmlx[['Phone Service', 'Multiple Lines','Device Protection Plan']] = dfmlx[['Phone Service', 'Multiple Lines','Device Protection Plan']].replace({'Yes': 1, 'No': 0})

In [16]:
df_dummies = pd.get_dummies(df, columns=['Customer Status'])
df_dummies['Customer Status_Stayed']=df_dummies['Customer Status_Stayed']+df_dummies['Customer Status_Joined']
dfmly=df_dummies['Customer Status_Stayed']

In [17]:
dfmlx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          7043 non-null   int64
 1   Number of Dependents         7043 non-null   int64
 2   Zip Code                     7043 non-null   int64
 3   Tenure in Months             7043 non-null   int64
 4   Phone Service                7043 non-null   int64
 5   Multiple Lines               6361 non-null   float64
 6   Device Protection Plan       5517 non-null   float64
 7   Monthly Charge               7043 non-null   float64
 8   Total Refunds                7043 non-null   float64
 9   Total Long Distance Charges  7043 non-null   float64
dtypes: float64(5), int64(5)
memory usage: 550.4 KB

In [18]:
dfmlx.fillna(0, inplace=True)

C:\Users\Nahuee\AppData\Local\Temp\ipykernel_10188\2964165279.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmlx.fillna(0, inplace=True)

In [19]:
matriz_correlacion = dfmlx.corr()


# Crear un mapa de calor de la matriz de correlación
sns.heatmap(matriz_correlacion, annot=True, cmap='coolwarm')

# Mostrar el mapa de calor
plt.show()

NameError: name 'sns' is not defined

Modelo:

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report


# Separar características y etiquetas
X = dfmlx
y = dfmly

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Crear el modelo
model = LogisticRegression()

# Entrenar el modelo
model.fit(X_train, y_train)

# Hacer predicciones con el conjunto de prueba
y_pred = model.predict(X_test)

# Calcular la exactitud
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy}')

# Matriz de confusión
conf_matrix = confusion_matrix(y_test, y_pred)
print('Confusion Matrix:')
print(conf_matrix)

# Reporte de clasificación
class_report = classification_report(y_test, y_pred)
print('Classification Report:')
print(class_report)

Accuracy: 0.7893989588263133
Confusion Matrix:
[[ 239  312]
 [ 133 1429]]
Classification Report:
              precision    recall  f1-score   support

       False       0.64      0.43      0.52       551
        True       0.82      0.91      0.87      1562

    accuracy                           0.79      2113
   macro avg       0.73      0.67      0.69      2113
weighted avg       0.77      0.79      0.77      2113

In [21]:
dfmlx=df[['Age','Number of Dependents','Zip Code', 'Tenure in Months', 'Phone Service', 'Multiple Lines', 'Device Protection Plan', 'Monthly Charge','Total Refunds', 'Total Long Distance Charges','Offer']]
dfmlx[['Phone Service', 'Multiple Lines','Device Protection Plan']] = dfmlx[['Phone Service', 'Multiple Lines','Device Protection Plan']].replace({'Yes': 1, 'No': 0})
dfmlx.fillna(0, inplace=True)

C:\Users\Nahuee\AppData\Local\Temp\ipykernel_10188\3001677474.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmlx[['Phone Service', 'Multiple Lines','Device Protection Plan']] = dfmlx[['Phone Service', 'Multiple Lines','Device Protection Plan']].replace({'Yes': 1, 'No': 0})
C:\Users\Nahuee\AppData\Local\Temp\ipykernel_10188\3001677474.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmlx.fillna(0, inplace=True)

In [22]:
dfmlx['Offer'].unique()

array([0, 'Offer E', 'Offer D', 'Offer A', 'Offer B', 'Offer C'],
      dtype=object)

In [23]:
dfmlx['Offer'] = dfmlx['Offer'].replace({'None': 0, 'Offer A': 1,'Offer B': 1,'Offer C': 1,'Offer D': 1,'Offer E': 1})

C:\Users\Nahuee\AppData\Local\Temp\ipykernel_10188\1758455988.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmlx['Offer'] = dfmlx['Offer'].replace({'None': 0, 'Offer A': 1,'Offer B': 1,'Offer C': 1,'Offer D': 1,'Offer E': 1})

In [24]:
# Separar características y etiquetas
X = dfmlx
y = dfmly

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Crear el modelo
model = LogisticRegression()

# Entrenar el modelo
model.fit(X_train, y_train)

# Hacer predicciones con el conjunto de prueba
y_pred = model.predict(X_test)

# Calcular la exactitud
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy}')

# Matriz de confusión
conf_matrix = confusion_matrix(y_test, y_pred)
print('Confusion Matrix:')
print(conf_matrix)

# Reporte de clasificación
class_report = classification_report(y_test, y_pred)
print('Classification Report:')
print(class_report)

Accuracy: 0.7893989588263133
Confusion Matrix:
[[ 239  312]
 [ 133 1429]]
Classification Report:
              precision    recall  f1-score   support

       False       0.64      0.43      0.52       551
        True       0.82      0.91      0.87      1562

    accuracy                           0.79      2113
   macro avg       0.73      0.67      0.69      2113
weighted avg       0.77      0.79      0.77      2113

acá concluimos si el cliente ha aceptado una oferta, no es garantía de retención.

Probamos cambiar la columna "Zip Code" por "North" para indicar si cada cliente es del norte o no.

In [25]:
df['North'] = df['Latitude'].apply(lambda x: 1 if x >= 34 else 0)

In [26]:
dfmlx['North'] = df['North'].values

C:\Users\Nahuee\AppData\Local\Temp\ipykernel_10188\3235940814.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmlx['North'] = df['North'].values

In [27]:
dfmlx.head()

,Age,Number of Dependents,Zip Code,Tenure in Months,Phone Service,Multiple Lines,Device Protection Plan,Monthly Charge,Total Refunds,Total Long Distance Charges,Offer,North
0,37,0,93225,9,1,0.0,0.0,65.6,0.00,381.51,0,1
1,46,0,91206,9,1,1.0,0.0,-4.0,38.33,96.21,0,1
2,50,0,92627,4,1,0.0,1.0,73.9,0.00,134.60,1,0
3,78,0,94553,13,1,0.0,1.0,98.0,0.00,361.66,1,1
4,75,0,93010,3,1,0.0,0.0,83.9,0.00,22.14,0,1

In [28]:
dfmlx.drop(columns='Zip Code', inplace= True)

C:\Users\Nahuee\AppData\Local\Temp\ipykernel_10188\1048346838.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmlx.drop(columns='Zip Code', inplace= True)

In [29]:
def rlmodelo(datasetX):
    # Separar características y etiquetas
    X = datasetX
    y = dfmly

    # Dividir los datos en conjuntos de entrenamiento y prueba
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

    # Crear el modelo
    model = LogisticRegression()

    # Entrenar el modelo
    model.fit(X_train, y_train)

    # Hacer predicciones con el conjunto de prueba
    y_pred = model.predict(X_test)

    # Calcular la exactitud
    accuracy = accuracy_score(y_test, y_pred)
    print(f'Accuracy: {accuracy}')

    # Matriz de confusión
    conf_matrix = confusion_matrix(y_test, y_pred)
    print('Confusion Matrix:')
    print(conf_matrix)

    # Reporte de clasificación
    class_report = classification_report(y_test, y_pred)
    print('Classification Report:')
    print(class_report)

El modelo mejoró al cambiar Zip Code por North.

Probamos sacar la edad, pero vimos que el modelo empeoraba.

volvemos a incorporar la columna "Age"

Ahora probaremos agregando la columna "Internet Service"

In [30]:
dfmlx['Internet Service'] = df['Internet Service'].values
dfmlx['Internet Service'] = dfmlx['Internet Service'].replace({'Yes': 1, 'No': 0})
dfmlx.fillna(0, inplace=True)

C:\Users\Nahuee\AppData\Local\Temp\ipykernel_10188\2943822870.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmlx['Internet Service'] = df['Internet Service'].values
C:\Users\Nahuee\AppData\Local\Temp\ipykernel_10188\2943822870.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmlx['Internet Service'] = dfmlx['Internet Service'].replace({'Yes': 1, 'No': 0})
C:\Users\Nahuee\AppData\Local\Temp\ipykernel_10188\2943822870.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmlx.fillna(0, inplace=True)

In [31]:
dfmlx.head()

,Age,Number of Dependents,Tenure in Months,Phone Service,Multiple Lines,Device Protection Plan,Monthly Charge,Total Refunds,Total Long Distance Charges,Offer,North,Internet Service
0,37,0,9,1,0.0,0.0,65.6,0.00,381.51,0,1,1
1,46,0,9,1,1.0,0.0,-4.0,38.33,96.21,0,1,1
2,50,0,4,1,0.0,1.0,73.9,0.00,134.60,1,0,1
3,78,0,13,1,0.0,1.0,98.0,0.00,361.66,1,1,1
4,75,0,3,1,0.0,0.0,83.9,0.00,22.14,0,1,1

In [32]:
rlmodelo(dfmlx)

Accuracy: 0.8045433033601515
Confusion Matrix:
[[ 278  273]
 [ 140 1422]]
Classification Report:
              precision    recall  f1-score   support

       False       0.67      0.50      0.57       551
        True       0.84      0.91      0.87      1562

    accuracy                           0.80      2113
   macro avg       0.75      0.71      0.72      2113
weighted avg       0.79      0.80      0.80      2113

c:\Users\Nahuee\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Recordamos que buscamos reducir la cantidad de falsos positivos, ya que esto indicaría que un cliente se queda cuando en realidad se va.

Queda por comparar con otros modelos distinto al del regresión logística.

In [ ]:
RandomForest

In [39]:
from sklearn.ensemble import RandomForestClassifier

# Separar características y etiquetas
X = dfmlx
y = dfmly

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Crear el modelo de Random Forest
model = RandomForestClassifier(n_estimators=100, random_state=42)

# Entrenar el modelo
model.fit(X_train, y_train)

# Hacer predicciones con el conjunto de prueba
y_pred = model.predict(X_test)

# Calcular la exactitud
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy}')

# Matriz de confusión
conf_matrix = confusion_matrix(y_test, y_pred)
print('Confusion Matrix:')
print(conf_matrix)

# Reporte de clasificación
class_report = classification_report(y_test, y_pred)
print('Classification Report:')
print(class_report)

Accuracy: 0.783719829626124
Confusion Matrix:
[[ 265  286]
 [ 171 1391]]
Classification Report:
              precision    recall  f1-score   support

       False       0.61      0.48      0.54       551
        True       0.83      0.89      0.86      1562

    accuracy                           0.78      2113
   macro avg       0.72      0.69      0.70      2113
weighted avg       0.77      0.78      0.77      2113

In [ ]:
DecisionTree

In [40]:
from sklearn.tree import DecisionTreeClassifier


# Suponiendo que dfmlx y dfmly ya están definidos como tus características y etiquetas
X = dfmlx
y = dfmly

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Crear el modelo de árbol de decisión con parámetros ajustados
model = DecisionTreeClassifier(criterion='entropy', max_depth=5, random_state=42)

# Entrenar el modelo
model.fit(X_train, y_train)

# Hacer predicciones con el conjunto de prueba
y_pred = model.predict(X_test)

# Calcular la exactitud
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy}')

# Matriz de confusión
conf_matrix = confusion_matrix(y_test, y_pred)
print('Confusion Matrix:')
print(conf_matrix)

# Reporte de clasificación
class_report = classification_report(y_test, y_pred)
print('Classification Report:')
print(class_report)

Accuracy: 0.7950780880265026
Confusion Matrix:
[[ 284  267]
 [ 166 1396]]
Classification Report:
              precision    recall  f1-score   support

       False       0.63      0.52      0.57       551
        True       0.84      0.89      0.87      1562

    accuracy                           0.80      2113
   macro avg       0.74      0.70      0.72      2113
weighted avg       0.79      0.80      0.79      2113